.post {
  position: relative;
  width: 250px;
  min-height: 100px;
  border-radius: 20px;
  border: 2px solid $blue1;
  padding: 20px 10px;
  color: $baseBlack;

  &:hover {
    cursor: pointer;
  }

  .title {
    padding: 5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    background-color: $blue2;
  }
  .body {
    width: 100%;
    padding: 5% 0;
    height: 20px;
    overflow-y: hidden;
  }
  .author {
    position: absolute;
    width: auto;
    bottom: 5%;
    right: 5%;
    opacity: 0.5;
  }
}
