.artical-page {
  .artical-container {
    position: relative;
    width: 50%;
    border-radius: 20px;
    padding: 2%;
    background-color: $blue2;

    .title {
      font-size: 28px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .body {
      font-weight: 200;
      padding-bottom: 50px;
      letter-spacing: 0.02rem;
    }
    .author {
      position: absolute;
      top: 5%;
      right: 5%;
    }
    .update {
      position: absolute;
      bottom: 5%;
      right: 5%;
    }
  }
}
